@import 'vars';
@import 'mixins';
@import 'fonts';

// *** Reset styles
section,
header,
footer {
  padding: 0 15px;

  .container {
    padding: 0;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button,
input {
  &:focus {
    outline: none;
  }
}
// Reset styles ***

// *** Bootstrap changes
.container {
  max-width: 900px;

  &::before,
  &::after {
    display: none;
  }
}

.btn,
.btn-large,
.btn-small {
  color: $white;
  text-transform: uppercase;
  font-weight: bold;

  &.purple {
    background-color: lighten($purple, 15%);
  }

  &.blue {
    background-color: $blue;
  }
}

.btn {
  padding: 0 10px;
  border-radius: 5px;
  background-color: lighten($gray, 40%);
  font-size: 17px;
  line-height: 28px;
}

.btn-small {
  font-size: 15px;
  line-height: 25px;
}

.btn-large {
  padding: 0 15px;
  font-size: 22px;
  line-height: 36px;
}
// Bootstrap changes ***

// *** Sprites
.sprites-social {
  display: inline-block;
  height: 24px;
  width: 24px;
  background-image: url('/assets/icons/sprites/social.jpg');
  background-repeat: no-repeat;
}

.twitter {
  background-position: -4px 4px;
}

.facebook {
  background-position: -38px 4px;
}

.youtube {
  background-position: -72px 4px;
}

.pinterest {
  background-position: -106px 4px;
}

.google {
  background-position: 0 4px;
}
// Sprites ***

// *** Default styles & classes
body {
  font-family: Arial, Helvetica Neue, Helvetica,sans-serif;
}

label {
  font-weight: normal;
}

.img-wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-right {
  text-align: right;
}
// Default styles ***
