@import 'vars';
@import 'mixins';
@import 'fonts';

// *** Reset styles
section,
header,
footer {
  padding: 0 15px;

  .container {
    padding: 0;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button,
input,
.btn.active.focus,
.btn.focus,
.btn:active.focus,
.btn:focus {
  &:focus {
    outline: none;
  }
}
// Reset styles ***

// *** Bootstrap changes
.container {
  max-width: 900px;

  &::before,
  &::after {
    display: none;
  }
}

.btn,
.btn-large,
.btn-small {
  color: $white;
  text-transform: uppercase;
  font-weight: bold;

  &.purple {
    background-color: lighten($purple, 15%);

    &:hover {
      color: $blue;
    }
  }

  &.blue {
    background-color: $blue;

    &:hover {
      color: lighten($purple, 20%);
    }
  }
}

.btn {
  padding: 0 10px;
  border-radius: 5px;
  background-color: lighten($gray, 40%);
  font-size: 14px;
  line-height: 20px;
  transition: color .3s ease-in-out;

  @include respond('sm') {
    font-size: 17px;
    line-height: 28px;
  }
}

.btn-small {
  font-size: 12px;
  line-height: 20px;

  @include respond('sm') {
    font-size: 15px;
    line-height: 25px;
  }
}

.btn-large {
  padding: 0 10px;
  font-size: 18px;
  line-height: 28px;

  @include respond('sm') {
    padding: 0 15px;
    font-size: 22px;
    line-height: 36px;
  }
}
// Bootstrap changes ***

// *** Sprites
.sprites-social {
  display: inline-block;
  height: 24px;
  width: 24px;
  background-image: url('/assets/icons/sprites/social.jpg');
  background-repeat: no-repeat;
}

.twitter {
  background-position: -4px 4px;
}

.facebook {
  background-position: -38px 4px;
}

.youtube {
  background-position: -72px 4px;
}

.pinterest {
  background-position: -106px 4px;
}

.google {
  background-position: 0 4px;
}
// Sprites ***

// *** Default styles & classes
body {
  font-family: Arial, Helvetica Neue, Helvetica,sans-serif;
}

label {
  font-weight: normal;
}

.img-wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-right {
  text-align: right;
}

.flex {
  display: flex;
}

.center-all {
  justify-content: center;
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.ai-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.no-scroll {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
// Default styles ***
