@import './../styles/vars';
@import './../styles/mixins';

header {
  height: 60px;
  background-color: lighten($gray, 70%);
  color: $purple;
  box-shadow: 0 1px 10px 0px $gray;

  .container {
    width: 100%;
  }

  @include respond('sm') {
    height: 100px;
  }

  label {
    font-size: 12px;
  }

  h1 {
    margin: 0;
    font-weight: 100;
    font-size: 18px;

    @include respond('sm') {
      font-size: 36px;
    }

    sup {
      font-size: 14px;

      @include respond('sm') {
        top: -18px;
      }
    }
  }

  a {
    color: $purple;
  }

  h2 {
    @include font-w('Source Sans Pro', 900);
    font-size: 16px;

    @include respond('sm') {
      font-size: 28px;
    }
  }
}

footer {
  height: 40px;
  background-color: lighten($gray, 6.5%);

  li {
    margin-right: 18px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.main-menu {
  li {
    color: $white;
  }

  li::after {
    content: '|';
    margin-left: 18px;
  }

  li:last-child::after {
    display: none;
  }

  a,
  button {
    color: $white;
    font-size: 12px;
    text-transform: uppercase;
  }

  button {
    background-color: transparent;
    border: 0;
  }
}
