@import './../../styles/vars';
@import './../../styles/mixins';

section {
  margin-bottom: 30px;

  &:first-of-type {
    margin-bottom: 10px;
    margin-top: 40px;
  }

  &:last-of-type {
    margin-bottom: 40px;
  }
}

.property,
.negotiation {
  @include card($purple);
  color: $purple;
}

.buyer-details,
.extra-left,
.auto-negotiation {
  @include card(lighten($gray, 60%));
}

.property {
  .text-right {
    width: 100%;
    text-align: center;

    @include respond('sm') {
      width: auto;
      text-align: right;
    }
  }
}

.buyer-details {
  button {
    padding: 0;
    border: 0;
    background: transparent;
    color: lighten($purple, 20%);
    font-weight: bold;
    font-size: 15px;

    span:first-child {
      margin-right: 15px;
    }

    span:last-child {
      font-size: 20px;
      transition: transform .3s ease-in-out;
      transform: rotate(90deg);
    }
  }
}

.extra-right {
  @include card($red);
  margin-top: 30px;

  @include respond('sm') {
    margin-top: 0;
  }
}

.buyer-extra-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.extra-left,
.extra-right {
  flex-basis: 100%;

  @include respond('sm') {
    flex-basis: calc(50% - 15px);
  }
}

.status {
  padding-left: 40px;
  padding-right: 40px;
  line-height: 40px;
  background-color: $red;
  color: $white;
  font-size: 22px;
  font-family: 'Source Sans Pro';

  strong {
    font-weight: 900;
  }
}

.property {
  h1 {
    @include font-w('Source Sans Pro', 900);
      font-size: 16px;
      flex-basis: calc(100% - 136px);

    @include respond('sm') {
      font-size: 20px;
      flex-basis: auto;
    }
  }

  > div {
    @include respond('sm') {
      display: flex;
      justify-content: space-between;
    }
  }

  .img-wrapper {
    height: 80px;
    width: 120px;
    margin-right: 16px;
    background-image: url('/assets/images/house.jpg');
  }

  .porperty-price  {
    text-align: center;

    @include respond('sm') {
      text-align: right;
    }

    > div:first-of-type {
      font-size: 15px;
      color: $gray;
    }
  }

  .price {
    @include font-w('Source Sans Pro', 900);
    font-size: 20px;

    @include respond('sm') {
      font-size: 28px;
    }
  }
}

.card-title {
  margin-bottom: 25px;
  padding-bottom: 7px;
  border-bottom: 1px solid lighten($gray, 50%);
}

.date {
  color: $purple;
  font-size: 12px;

  span:first-child {
    margin-right: 10px;
  }
}

.buyer-details {
  font-size: 17px;
  color: $purple;

  td {
    margin: 5px 0;
  }

  td:last-child {
    padding-left: 10px;
    color: $gray;
  }
}

.extra-left,
.extra-right {
  div:last-of-type {
    margin-top: 10px;

    @include respond('md') {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 0;
    }
  }
}

.extra-left {
  .price {
    font-size: 20px;
    font-weight: bold;

    @include respond('sm') {
      font-size: 28px;
    }
  }

  label {
    font-size: 11px;
    color: $gray;
  }
}

.extra-right {
  background-color: lighten($gray, 65%);
  color: $red;

  > div:first-of-type {
    font-size: 18px;
    font-weight: bold;

    @include respond('sm') {
      font-size: 22px;
    }
  }
}

.negotiation {
  > button {
    display: block;
    margin: 10px auto 0;

    @include respond('sm') {
      margin: 16px 0 0;
    }
  }

  .card-title {
    margin-bottom: 30px;
  }

  label {
    @include font-w('Source Sans Pro', 900);
    display: block;
    width: 100%;
    margin-top: 20px;
    font-size: 22px;
    text-align: center;
    line-height: 24px;

    @include respond('sm') {
      padding-left: 30px;
      width: auto;
      line-height: 40px;
      text-align: left;
    }
  }

  .symbol {
    display: inline-block;
    line-height: 40px;
    font-size: 40px;
    color: lighten($gray, 35%);
    font-weight: bold;
  }

  input {
    height: 40px;
    width: 240px;
    margin: 0 0 0 9px;
    padding: 0 10px;
    font-size: 28px;
    font-weight: bold;
    color: $gray;
  }

  > div:last-of-type {
    text-align: center;

    @include respond('sm') {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    > div {
      display: inline-flex;
    }

    button {
      display: block;
      margin: 10px auto;

      @include respond('sm') {
        margin: 0;
      }
    }
  }
}

.auto-negotiation {
  padding: 20px 30px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;

  @include respond('sm') {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  button {
    display: block;
    margin: 10px auto;

    @include respond('sm') {
      margin-left: 80px;
    }
  }
}

h3 {
  @include font-w('Source Sans Pro', 900);
  font-size: 20px;

  @include respond('sm') {
    font-size: 28px;
  }
}
