<section>
  <div class="container status">
    <b>Status:</b> Withdrawn
  </div>
</section>
<section>
  <div class="container property">
    <h3 class="card-title">The property</h3>
    <div fxLayout fxLayoutAlign="space-between">
      <div>
        <div class="img-wrapper"></div>
        <h1>Eddington House, 16 Wigginton Road,<br>Tamworth, B79 8PB</h1>
      </div>
      <div>
        <div>Asking price:</div>
        <div>£189,950</div>
        <button>VIEW EXTRAS INCLUDED</button>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container buyer-details">
    <div class="card-title" fxLayout fxLayoutAlign="space-between">
      <h3>Buyer’s details</h3>
      <button>Hide</button>
    </div>
    <table>
      <tr>
        <td>Name:</td>
        <td>Mr David Shepherd</td>
      </tr>
      <tr>
        <td>Buying position:</td>
        <td>Property to sell - 20 weeks on the market</td>
      </tr>
      <tr>
        <td>Financial position:</td>
        <td>Mortgage required - approved</td>
      </tr>
      <tr>
        <td>Timescale:</td>
        <td>Would like to move in 10 weeks - no chain</td>
      </tr>
    </table>
  </div>
</section>
<section>
  <div class="container buyer-extra-details">
    <div class="extra-left">
      <h3 class="card-title">Buyer’s offer</h3>
      <div>£179,000</div>
      <label>Subject to offer qualification by Purplebricks</label>
      <div fxLayout fxLayoutAlign="space-between center">
        <button>View Comments</button>
        <div><span>Date: 24/10/2013</span><span>Time: 20.17</span></div>
      </div>
    </div>
    <div class="extra-right">
      <h3 class="card-title">Your response</h3>
      <div>You have withdrawn your acceptance of the offer</div>
      <div fxLayout fxLayoutAlign="space-between center">
        <button>VIEW COMMENTS</button>
        <div><span>Date: 24/10/2013</span><span>Time: 21.05</span></div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container negotiation">
    <h3 class="card-title">Re-open negotiations</h3>
    <div class="auto-negotiation" fxLayout fxLayoutAlign="space-between center">
      Would you like your Expert, Robert White, to negotiate on your behalf? It’s completely free!
      <button>NEGOTIATE FOR ME</button>
    </div>
    <label for="">Enter an offer you would be willing to accept:</label>
    <div fxLayout fxLayoutAlign="space-between center">
      <div>&#8356;<input type="text"></div>
      <button>SUBMIT OFFER</button>
    </div>
    <button>ADD COMMENTS</button>
  </div>
</section>
