<section>
  <div class="container status">
    <strong>Status:</strong> Withdrawn
  </div>
</section>
<section>
  <div class="container property">
    <h3 class="card-title">The property</h3>
    <div>
      <div class="flex porperty-details">
        <div class="img-wrapper"></div>
        <h1>Eddington House, 16 Wigginton Road,<br>Tamworth, B79 8PB</h1>
      </div>
      <div class="porperty-price">
        <div>Asking price:</div>
        <div class="price">£{{ 189950 | number:'.0-0'}}</div>
        <button class="btn btn-small">VIEW EXTRAS INCLUDED</button>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container buyer-details">
    <div class="card-title" fxLayout fxLayoutAlign="space-between">
      <h3>Buyer’s details</h3>
      <button fxLayout fxLayoutAlign="space-between center" (click)="toggle()"><span>{{ buyerState == 'opened' ? 'Hide' : 'Show' }}</span> <span [class.opened]="buyerState == 'closed'">&#8249;</span></button>
    </div>
    <div class="details-content" [@buyerDetails]="buyerState">
     <table>
        <tr>
          <td>Name:</td>
          <td>Mr David Shepherd</td>
        </tr>
        <tr>
          <td>Buying position:</td>
          <td>Property to sell - 20 weeks on the market</td>
        </tr>
        <tr>
          <td>Financial position:</td>
          <td>Mortgage required - approved</td>
        </tr>
        <tr>
          <td>Timescale:</td>
          <td>Would like to move in 10 weeks - no chain</td>
        </tr>
      </table>
    </div>

  </div>
</section>
<section>
  <div class="container buyer-extra-details">
    <div class="extra-left">
      <h3 class="card-title">Buyer’s offer</h3>
      <div class="price">£{{ 179000 | number:'.0-0' }}</div>
      <label>Subject to offer qualification by Purplebricks</label>
      <div>
        <button class="btn">View Comments</button>
        <div class="date"><span>Date: 24/10/2013</span><span>Time: 20.17</span></div>
      </div>
    </div>
    <div class="extra-right">
      <h3 class="card-title">Your response</h3>
      <div>You have withdrawn your acceptance of the offer</div>
      <div>
        <button class="btn">VIEW COMMENTS</button>
        <div class="date"><span>Date: 24/10/2013</span><span>Time: 21.05</span></div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container negotiation">
    <h3 class="card-title">Re-open negotiations</h3>
    <div class="auto-negotiation">
      Would you like your Expert, Robert White, to negotiate on your behalf? It’s completely free!
      <button class="btn purple">NEGOTIATE FOR ME</button>
    </div>
    <label for="new-price">Enter an offer you would be willing to accept:</label>
    <div>
      <div class="flex ai-center"><span class="symbol">&#163;</span>
        <input
          type="number"
          id="new-price"
          [(ngModel)]="newOfferValue"
        ><span class="hint" [class.red]="newOfferValue <= 0 || newOfferValue == null || newOfferValue == undefined" *ngIf="validatorState">Your offer is {{ (newOfferValue > 0 && newOfferValue != null && newOfferValue !== undefined) ? 'Valid' : 'Invalid' }}</span>
      </div>
      <button class="btn btn-large blue" (click)="newOffer(); validatorState = true;">SUBMIT OFFER</button>
    </div>
    <button class="btn purple" (click)="newComments = !newComments">{{ !newComments ? 'Add Comments' : 'Remove Comments' }}</button>
    <ng-template [ngIf]="newComments">
      <div class="comments">
        <label for="comments">Add your comments here !</label>
        <textarea rows="5" id="comments"></textarea>
      </div>
    </ng-template>
  </div>
</section>
